# This is Git's per-user configuration file.
[user]
	name = pastelApe
	email = marines.smiths-0i@icloud.com
# Please adapt and uncomment the following lines:
#	name = pastelApe
#	email = marines.smiths-0i@icloud.com
